@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #09090b;
  --placeholder: #68686f;
  --editor-background-color: #212121;
  --validation: #303030;
  --success: rgb(22 163 74);
  --primary-headings: #fafafa;
  --primary-paragraphs: #7b7b82;
  font-family: "Inter";
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1px; /* Decreased width */
}

body {
  scrollbar-width: ultra-thin; /* For Firefox */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 2px;
  border: 1px solid var(--scrollbarBG);
}

/* Hide scrollbar completely */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 10px;
}


#outline {
  stroke-dasharray: 2.42776657104492px, 242.776657104492px;
  stroke-dashoffset: 0;
  animation: anim 1.6s linear infinite;
  color: aqua;
}

/* input[type="checkbox"] {
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%; 
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #666;
  border-color: #666;
} */

@keyframes anim {
  12.5% {
    stroke-dasharray: 34.00473200062888px, 242.776657104492px;
    stroke-dashoffset: -26.70543262149412px;
  }
  43.75% {
    stroke-dasharray: 84.9718299865722px, 242.776657104492px;
    stroke-dashoffset: -84.9718299865722px;
  }
  100% {
    stroke-dasharray: 2.42776657104492px, 242.776657104492px;
    stroke-dashoffset: -240.34889053344708px;
  }
}

.fade-text {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}
